body{
    margin: 0;
    padding: 0;
    background-color:#b8b4b4
}

section{
    background-color:#b8b4b4
}

header{
    font-size: 7vw;
    background-color: white;
}

header img{
    width: 15%;
    height: 15%;
    margin-top: 2%;
    margin-left: 2%;
}

header h1{
    color: rgba(60, 60, 67, 0.60);
    font-size: 5vw;
    font-family: Elephant;
    text-align: center;
    margin-top: -12%;
    line-height: 22px;
    word-wrap: break-word
}

header .topnav{
    text-align: center;
    margin-top: -22px;
}

.topnav input{
    background-color: #cdbcc9;  
    border-radius: 50px 50px 50px 50px;
    font-family: Roboto;
    font-size: 2.5vw;
}

.I a{
    color: black;
    background-color: #3a3a3a;
    text-decoration: none;
    font-family: inter;
    border-radius: 50px 50px 50px 50px;
    border-style: solid;
    font-size: 4vw;
    position: relative;
    left: 55%;
}

.I a:hover{
    color: grey;










    



.A img{
    background-color: grey;
    text-align: center;
    display: block;
     margin-left: auto;
     margin-right: auto;
     width: 50%;
     height: auto;
    image-rendering: pixelated;
}

.Page 3{
    width: 1735px;
    height: 742px;
}


.A h2{
    text-align: center;
    font-size: large;
    font-size: 150%;
}

.A hr{
     align-content: center;
     width: 150px;
     border: 1px solid grey;
}

.Page 3 .A .p1 .p2{
    text-align: center;
    font-size: small;
}
























#Block2 .Logos{
    font-size: 2vw;
    color: #000000;
}

footer{
    background-color: white;
}
