body{
    margin: 0;
    padding: 0;
    background-color: #b8b4b4;
}

section{
    background-color:#b8b4b4
}

.Page1{
    height: 85vw;
}

header{
    font-size: 7vw;
    background-color: white;
}

header img{
    width: 15%;
    height: 15%;
    margin-top: 2%;
    margin-left: 2%;
}

header h1{
    color: rgba(60, 60, 67, 0.60);
    font-size: 5vw;
    font-family: Elephant;
    text-align: center;
    margin-top: -12%;
    line-height: 22px;
    word-wrap: break-word
}

header .topnav{
    text-align: center;
    margin-top: -22px;

}

.topnav input{
    background-color: #cdbcc9;  
    border-radius: 50px 50px 50px 50px;
    font-family: Roboto;
    font-size: 2.5vw;
    width: 60%;
    margin-left: 70px;
}

.Boutons a{
    color: black;
    background-color: #3a3a3a;
    text-decoration: none;
    font-family: inter;
    border-radius: 10px 10px 10px 10px;
    border-style: solid;
    font-size: 3vw;
    position: relative;
    left: 20vw;
    padding-right: 35px;
    padding-left: 35px;
    margin-left: 15px;
}

.Boutons a:hover{
    color: grey;
}

.I img{
    width: 30%;
    height: 30%;
    float: right;
    margin-right:10px;
}

.I p{
    font-size: 2.5vw;
    margin-left: 20px;
    font-family: Alike;
    padding-top: 20px;
}

.II img{
    width: 30%;
    height: 20%;
    float: left;
    margin-right:20px;
    margin-left: 20px;
}

.II p{
    font-size: 2.5vw;
    font-family: Alike;
    width: 100%;
    margin-top: 90px;
    padding-top: 50px;
}

.Tableaux{
    display: flex;
    flex-wrap: wrap;
}

.Page2{
    margin-bottom: 20px;
}

.Page2 h2{
    font-size: 4vw;
    text-align: center;
    margin-left: 4vw;
}

.Auteur img{
    width: 90%;
    margin: 10px;
}

.Auteur{
    width: 300px;
    padding: 10px;
    margin: auto;
    font-family: Alice;
}

.Auteur h3{
    text-align: center;
}

.Auteur p{
    text-align: center;
}

.Auteur hr{
    align-content: center;
    color: black;
    width: 40px;
    border: 1px solid rgb(0, 0, 0);
}

.Auteur .Nom{
    color: #757575;
}

.d button{
    align-items: center;
    font-size: large;
    width: 20%;
    height: 50px;
    border-color: #000000;
    color: #ffffff;
    border-radius: 7px 7px 7px 7px;
    margin-left: 40%;
    background-color: #2C2C2C;
}

.d button:hover{
    color: grey;
}

#A img{
    display: block;
    margin-left: 25%;
    margin-right: 50%;
    margin-bottom: 30px;
    width: 50%;
    height: 50%;
}

#A h2{
    text-align: center;
    font-size: 4vw;
}

#A hr{
    align-content: center;
    width: 20%;
    border: 1px solid rgb(0, 0, 0);
}

#A p{
    display: block;
    text-align: center;
    font-family: Alike;
    font-size: 2vw;
    width: 55%;
    margin: auto;
    margin-bottom: 6%;
}

footer{
    background-color: white;
}

.Block3 img{
    width: 30%;
    height: 30%;
    float: right;
    margin: 1%;
}

#fin{
    display: flex;
    flex-wrap: wrap;
}

.Block1 .Block2{
    display: block;
}

.Block1{
    margin-left: 7%;
    margin-bottom: 7%;
    width: 40%;
}

.Blabla p{
    font-size: 2.5vw;
    font-family: Alice;
}

.Blabla a{
    color: black;
    text-decoration: none;
    font-size: 2vw;
    font-family: Alice;
}

nav ul li{
    margin-left: -5%;
    font-family: Alice;
    font-size: 2vw;
}

.Block1 .Icon{
    font-size: 2vw;
    color: #000000;
}

.Block2{
    margin-right: 20px;
    width: 45%;
}

.Block2 p{
    font-size: 2vw;
    font-family: Alice;
    text-align: center;
}

Button{
    background-color: #2C2C2C;
    color: #ffffff;
    border-radius: 3px 3px 3px 3px;
    font-family: inter;
    font-size: 1.5vw;
    height: 3vw;
}

Button:hover{
    color: grey;
}

Input{
    font-size: 1.5vw;
    height: 2vw;
}


@media only screen and (max-width: 600px){
    .I{
        padding: 50px;
    }


.I img{
    align-content: center;
    float: none;
    margin-left: 121px;
    width: 50% ;
    ;
}

.I p{
    font-size: large;
    text-align: center;
}

.Page1{
    height: 160vw;
}

.II img{ 
    width: 39% ;
}

.II p {
    font-size: large;
    padding-top: 20px;
}

.Boutons a{
    left: 6%;
}

.Block3 img{
    width: 30%;
    height: 30%;
    float: right;
    margin: 2%;
}

Button{
    border-radius: 3px 3px 3px 3px;
    font-size: 1vw;
    height: 3.2vw;
}

Input{
    font-size: 1.5vw;
    height: 2vw;
}

}
